:root {
  --white: #fff;
  --light-gray: #f7f7f7;
  --gray: #e1e1e1;
  --black: #434242;
  --bg: #d6f0fa;
  --red: #e60012;
  --wine: #88010c;
  --blue: #0b2b6b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
}

body {
  background-color: var(--bg);
}

main {
  min-height: 100vh;
}

svg {
  font-size: 24px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: 1000;
  color: var(--white);
}

.swiper-button-prev:after {
  margin-left: 50px;
}

.swiper-button-next:after {
  margin-right: 50px;
}

.mySwiper .swiper-slide {
  opacity: 0.75;
  margin-bottom: 2px solid var(--white);
}

.mySwiper:hover {
  cursor: grab;
}

.mySwiper:active {
  cursor: grabbing;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  margin-bottom: 2px solid var(--red);
  transform: scale(1.05);
}
